{% extends "base.html.twig" %}

{% block body %}
	<article>
		<div class="card mb-3" style="max-width: 540px;">
			<div class="row no-gutters">
				<div class="col-md-4">
					<img src="{{produit.image}}" class="card-img" alt="">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">{{produit.name}}</h5>
						<p class="card-text">{{ produit.created | date('d/m/Y') }}</p>
						<p class="card-text">{{ produit.description}}</p>

					</article>
				{% endblock %}
